@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCountASync">Click me</button>

@code {
    private int currentCount = 0;

    [CascadingParameter]
	private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;

    private async Task IncrementCountASync()
    {
        var authState = await authenticationStateTask;
        var isAuthenticated = authState.User.Identity!.IsAuthenticated;
		if (isAuthenticated)
		{
			currentCount++;
		}	
    }
}
