@page "/logout"
@using Sales.WEB.Auth
@inject ILoginService _loginService

<p>Cerrando sesion...</p>

@code {

	protected override async Task OnInitializedAsync()
	{
		await _loginService.LogoutAsync();
		nav.NavigateTo("/");
	}

}
