<AuthorizeView>
	<Authorized>
		<span>Hola, @context.User.Identity!.Name</span>
		<a href="Logout" class="nav-link btn btn-link">Salir</a>
	</Authorized>
	<NotAuthorized>
		<a href="Register" class="nav-link btn btn-link">Registro</a>
		<a href="Login" class="nav-link btn btn-link">Ingresar</a>
	</NotAuthorized>
</AuthorizeView>